global !p
import os
def getPathInProject(path):
	path = os.path.abspath(path)
	origpath = os.path.dirname(path)
	while not os.path.exists(os.path.join(path, '.git')) and path != '/' and path != '\\':
		path = os.path.abspath(os.path.join(path, os.pardir))
	return origpath.replace(path, '');
endglobal

snippet myonce "#ifndef ... #define ... #endif"
#ifndef ${1:`!p snip.rv = (getPathInProject(path).replace('/','_') + '_' + snip.basename + '_h_').upper()`}
#define ${1}
#endif
endsnippet
