snippet myonce
11111
endsnippet
snippet gfixture "gfixture"
class ${1:`!v Filename('$1_t', 'name')`} : public ::testing::Test
{
	public:
		$1(${2}) {
		}
		~$1() {
		}
};
${3}
endsnippet

snippet gtest "gtest"
TEST(${1:module_name}, ${2:test_name}) {
	${3:/* Test code */}
}
endsnippet
